<div class="container bg-light">
  <h1 class="text-center">CONTACT US SECTION</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADDRESS</td>
        <td>CONTACT</td>
        <td>EMAIL</td>
        <td>ACTION</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.contact}}</td>
        <td>{{contact.email}}</td>
        <td><button (click)="selectContact(contact)">Show</button> </td>
      </tr>
    </tbody>
  </table>
  <div class="card" *ngIf="selectedContact">
    <div class="card-header">
      <span>{{selectedContact.id}}</span>
    </div>
    <div class="card-body">
      <h6 class="card-title">{{selectedContact.name}}</h6>
      <p class="card-text">{{selectedContact.address}}</p>
      <p class="card-text">{{selectedContact.contact}}</p>
      <h6 class="card-link">{{selectedContact.email}}</h6>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

